ul {
    list-style-type: none;
    margin: 18px 0px 0px;
}

ol {
    display: inline;
    font-family: "arial", "sans-serif";
    font-size: 13px;
}

ol.fright {
    float: right;
    padding: 5px 8px;
}

ol.fleft{
    float: left;
    position: relative ;
    padding: 5px;
    color: rgb(112, 112, 112);
}

#appli{
    padding: 2px 15px 0px;  
}

#signin{
    font-weight: 700;
    background-color: rgba(66,133,244);
    color: white;
    border-radius: 2px;
    padding: 7px 14px;
}

div.centre{
    padding-top: 180px;
}

input[type=text]{
    padding: 15px;
    margin-top: 22px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid rgb(216, 218, 221);
    width: 480px;
}

input[type=button]{
    margin-top: 25px;
    background-color: white;
    width: 120px;
    border: white;
    padding: 15px 20px;
    margin-right: 10px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}